<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="default" connectionString="Data Source=.\TempDB.db" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="ApiUrl" value="http://workforeststag.n1.iworklab.com/api/"/>		
	</appSettings>
</configuration>